:root {
  --background-color: rgb(0, 0, 0);
  --text-color: #ffffff;
  --header-font: 'League Spartan', sans-serif;

  --content-font: "Caveat Brush", cursive;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: black;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
main {
  font-family: 'League Spartan', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}


